<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrame Output</title>
    <style>
        .Bod{
            background: #ffe1a1;
        }
        .Butt{
            font-size: medium;
            background-color: #48eb91;
            border-radius: 10px;
            font-family: cursive;
            font-weight: 100;}
    </style>
</head>
<body class="Bod">
    <h1>Data Table</h1>
    <button class="Butt"><a href="/App/august/">Go Back</a></button>
    <div>{{ table|safe }}</div>
</body>
</html>
